*{
    margin: 0px;
    padding: 0px;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.heading{
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}
.main_question{
    background-color: #F3F6FF;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}
.outer_question{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
}
.answer{
    padding-top: 15px;
}
.d-none{
    display: none;
}