*{
    margin: 0px;
    padding: 0px;
}

.row{
    width: 350px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.inputbox input{
    padding: 10px 15px;
    border-radius: 15px;
}
.button button{
    padding: 10px 15px;
    border-radius: 10px;
}