*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: black;
}
body{
	font-family: "Roboto", sans-serif;
}

.main{
	width: 100%;
}
.outer_header{
	width: 100%;
	position: sticky;
	top: 0px;
	background: white;
	box-shadow: 0px 1px 5px 0px gray;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 60px;
    padding-bottom: 10px;
    box-sizing: border-box;
    gap: 50px;
}
.logo{
	margin-right: 15px;
}
.logo img{
	width: 55px;
}
.header_menu ul{
	display: flex;
	list-style: none;
	gap: 35px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.header_search{
	display: flex;
}
.header_right{
	display: flex;
	gap: 35px;
}
.header-profile{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.header_text{
	margin-top: 5px;
}
.header_search{
	flex-grow: 1;
	background: #F5F5F6;
	padding: 10px 15px;
	border-radius: 5px;
}
.search_icon{
	flex-basis: 5%;
	color: #818395;
}
.search_input{
	flex-basis: 95%;
}
.search_input input{
	width: 100%;
	background: #F5F5F6;
	border: 0px;
	padding-left: 10px;
	box-sizing: border-box;
}

.banner_section{
	background: #FFFFFF;
	width: 100%;
	padding: 25px 60px;
	box-sizing: border-box;
}
.banner_section img{
	width: 100%;
}
.outer_offer{
	display: flex;
	justify-content: space-between;
	padding: 0px 120px;
}
.offer{
	flex-grow: 1;
}
.offer img{
	width: 100%;
}
.outer_offer_gif{
	padding: 0px 70px;
}
.outer_offer_gif2{
	padding: 0px 60px;
}